target
static/layouts/
static/corpus_configs/
static/language_data/
static/text/
!static/language_data/shai.json
!static/text/monkeyracer/
!static/text/monkeyracer/mr.txt
static/stats
static/history.txt
session.json
.direnv
result
tarpaulin-report.*
